akka {
   actor.provider = cluster
    remote {
        dot-netty.tcp {
            port = 8081
            hostname = localhost
        }
    }
    cluster {
       seed-nodes = ["akka.tcp://MyCluster@localhost:8081","akka.tcp://MyCluster@localhost:8082"]
       roles = ["seed"]
    }
}
