<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row>
    <span>Akka.Net Monitoring</span>
    <span class="spacer"></span>
    <mat-chip-list *ngIf="clusterName">
      <mat-chip color="accent" selected>Cluster: {{clusterName}}</mat-chip>
    </mat-chip-list>
    <button mat-icon-button>
      <mat-icon (click)="openSettingDialog()">settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group dynamicHeight color="accent" [(selectedIndex)]="selectedIndex">
  <mat-tab *ngFor="let statsInfo of statsInfoList">
    <ng-template mat-tab-label>
      <mat-icon *ngIf="!statsInfo.isWsOnline" color="warn" matTooltip="Connection is offline">sync_problem</mat-icon>
      <mat-icon *ngIf="statsInfo.isWsOnline" matTooltip="Connection is online">done_all</mat-icon>
      <span style="margin-left: 4px">{{statsInfo.displayName}}</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<app-monitor-container [statsInfo]="statsInfoList[selectedIndex]"></app-monitor-container>

