<mat-toolbar class="app-toolbar" color="primary">
  <mat-toolbar-row>
    <span>Akka.Net Monitoring</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group color="accent">
  <mat-tab *ngFor="let seedNode of seedNodes">
    <ng-template mat-tab-label>
      <mat-icon *ngIf="!seedNodeOnlineStatuses[seedNode]" color="warn" matTooltip="Connection is offline">sync_problem</mat-icon>
      <mat-icon *ngIf="seedNodeOnlineStatuses[seedNode]" matTooltip="Connection is online">done_all</mat-icon>
      <span style="margin-left: 4px">{{seedNodeTabTitles[seedNode]}}</span>
    </ng-template>
    <app-monitor-container [seedNode]="seedNode" (wsOnlineChange)="setWsOnlineChange(seedNode, $event)"></app-monitor-container>
  </mat-tab>
</mat-tab-group>

